.git
.github
.idea
.vscode
**/.env
**/.env.*
**/*.orig
**/*.rej
**/*.bak
**/*.log
**/.gradle
**/build
**/node_modules
**/dist
**/coverage
**/test-results
**/playwright-report
**/.DS_Store
docs/history
docs/archive
docker/local-integration
