DB_CERT_HOST=managed-631415-8744455
DB_HOST_ADDRESS=10.20.0.20
DB_PORT=5432
DB_NAME=store_analytics
DB_BACKUP_USER=store_backup_reader
POSTGRES_CA_FILE=/etc/store-analytics/pki/postgresql-ca.crt
POSTGRES_BACKUP_PASSWORD_FILE=/etc/store-analytics/secrets/postgres-backup-password
BACKUP_ENCRYPTION_PASSPHRASE_FILE=/etc/store-analytics/secrets/backup-encryption-passphrase
AWS_SHARED_CREDENTIALS_FILE=/etc/store-analytics/secrets/s3-backup-credentials
AWS_CONFIG_FILE=/etc/store-analytics/secrets/s3-backup-config
AWS_PROFILE=timeweb-backup
S3_ENDPOINT=https://s3.twcstorage.ru
S3_BUCKET=5e8de462-4a0c-42a7-9a3b-e4d432c18eaf
BACKUP_CLASS=daily
TMP_ROOT=/var/lib/store-analytics/backup-tmp
